/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background: url("../img/bg_blue.jpg") 0 0 repeat;
}
#main-content{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
}
#main-content h1{
    font-size: 42px;
}

#start{
    border-radius: 10px;
    padding: 20px;
    font-size: 30px;
    color: #09A5BE;
}
#header{
    padding: 20px 0 30px;
}
#banner{
    position: relative;
    min-height: 350px;
}
.circle,.inner-img{
    position: absolute;
}
#banner2,#banner3,#banner4,#banner5,#banner6{
    display: none;
}
#banner1 .inner-img{
    margin:15px 0 0 55px;
}
#banner2 .inner-img{
    margin:145px 0 0 30px;
}
#banner3 .inner-img{
    margin:50px 0 0 35px;
}
#banner4 .inner-img{
    margin:68px 0 0 30px;
}
#banner5 .inner-img{
    margin:160px 0 0 130px;
}
#banner6 .inner-img{
    margin:0;
}

